doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{ title }
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/valentine.css")
    link(rel="stylesheet" href="css/main.css")
  body
    != yield
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/classie.js")
    script(src="js/clipboard.min.js")
    script(src="js/custom.js")
    script.
      (function() {
        [].slice.call(document.querySelectorAll('.menu')).forEach(function(menu) {
          var menuItems = menu.querySelectorAll('.menu__link'),
            setCurrent = function(ev) {
              ev.preventDefault();

              var item = ev.target.parentNode; // li

              // return if already current
              if (classie.has(item, 'active')) {
                return false;
              }
              // remove current
              classie.remove(menu.querySelector('active'), 'active');
              // set current
              classie.add(item, 'active');
            };

          [].slice.call(menuItems).forEach(function(el) {
            el.addEventListener('click', setCurrent);
          });
        });

        [].slice.call(document.querySelectorAll('.link-copy')).forEach(function(link) {
          link.setAttribute('data-clipboard-text', location.protocol + '//' + location.host + location.pathname + '#' + link.parentNode.id);
          new Clipboard(link);
          link.addEventListener('click', function() {
            classie.add(link, 'link-copy--animate');
            setTimeout(function() {
              classie.remove(link, 'link-copy--animate');
            }, 300);
          });
        });
      })(window);